
.car-license {
  width: 23%;
  min-width: 278px;
  /* cursor: pointer; */
}

.car-license > div {
  background-color: #fafafa;
  padding: 15px 15px 30px;
  margin-top: 15px;
}

.car-license .image {
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  height: 235px;
}

.car-license .title {
  margin-top: 10px;
  height: 25px;
  font-family: 'Pacifico', cursive;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2em;
}

.car-license .subtitle {}

.car-license .view-btn {
  background-color: #009688;
  color: #fff;
  padding: 2px 7px;
  border-radius: 5px;
  margin-top: 5px;
  font-size: .95em;
}

.car-license .view-btn:hover,
.car-license .view-btn:focus {
  background-color: #111;
}

/** Sheet **/
.sheet .car-license {
  width: auto;
  min-width: 0;
  margin-right: 5%;
  margin-top: 0;
  width: 30%;
}

.sheet .car-license .image {
  width: 100%;
  height: auto;
  box-shadow: 2px 2px 3px #ccc;
  border-radius: 5px;
}

.sheet .car-license .title {
  font-size: 1.05em;
}

/*******************************
    MEDIA QUERIES
*******************************/

/*
small devices: 480px
*/
@media (min-width: 480px) {}

/*
tablets 768px
*/
@media (min-width:768px) {}

/*
    large screens 1024px
*/
@media (min-width: 1024px) {}

@media (min-width: 1280px) {}

@media (min-width: 1600px) {}

/**/
@media (max-width: 1023px) and (min-width: 768px){}

/**/
@media (max-width: 1024px) and (max-width: 768px) {}

/**/
@media (max-width: 1024px){}

@media (max-width: 767px){}
