
@import url('https://fonts.googleapis.com/css?family=Manuale');
/** sans-serif **/
@import url('https://fonts.googleapis.com/css?family=PT+Sans|Poppins|Raleway|Source+Sans+Pro|Titillium+Web:400,600');

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/** INDEX
**/
.drivers-wrap {}

.driver-license {
  background-color: #fafafa;
  max-width: 350px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 2em;
  box-shadow: 1px 1px 3px #757575;
  text-transform: uppercase;
}

.driver-license .title {
  background-color: #424242;
  color: #fff;
  width: 100%;
  font-family: 'Manuale', serif;
}

.driver-license .image {
  margin-top: 0px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
}

.driver-license .info {
/*   font-family: 'Poppins', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Raleway', sans-serif; */
  font-family: 'Source Sans Pro', sans-serif;
}

.driver-license .info .key,
.driver-info .key {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  font-size: .8em;
}

.driver-license .name,
.driver-license .type {
  margin-top: 5px;
}

.driver-license .name {
  margin-top: 0;
}

.driver-license .type {
}

.driver-license .view-btn {
  background-color: #009688;
  color: #fff;
  padding: 2px 7px;
  border-radius: 5px;
  margin-top: 5px;
  font-size: .95em;
}

.driver-license .view-btn:hover,
.driver-license .view-btn:focus {
  background-color: #111;
}

.driver-license .info .key {
  color: #D84315;
}

/** DRIVER
**/
.driver-sheet {
  margin: 2em auto;
  max-width: 500px;
  padding: 1em;
  font-size: 15px;
  font-family: 'Open Sans';
  line-height: 1.5;
}

.driver {
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.top-info {
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #e9e9e9;
  box-shadow: 2px 2px 4px #ccc;
  padding: 3.5%;
  background-color: #fdfdfd;
  border-radius: 5px;
}

.driver-photo {
  border: 1px solid #e9e9e9;
  box-shadow: 2px 2px 3px #ccc;
  margin-right: 5%;
  padding: 5px;
  width: 100px;
}

.driver-photo_id {
  width: 100%;
}

.driver-info {
  min-width: 70%;
}

.driver-info table {
  width: 100%;
}

.driver-info th {
  text-align: right;
  font-weight: normal;
  
}

.driver-info td {
  border-bottom: 1px solid #ccc;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1em;
  text-transform: uppercase;
}

.driver-bio p {
  text-align: justify;
}

.order-form {
  margin-top: 1em;
  width: 100%;
  border: 1px solid #e9e9e9;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #ccc;
  background-color: #fdfdfd;
}

.order-form .form {
  padding: 3.5%;
}

.order-form {}

.order-form input[type=text],
.order-form input[type=email],
.order-form input[type=tel],
.order-form input[type=date] {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 2.2rem;
  width: 100%;
  font-size: 1rem;
  margin: 0 0 15px 0;
  padding: 0;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  transition: all .3s;
}

.order-form .choose-btn {
  padding: 1px 6px;
  border-radius: 5px;
  margin: 0px 8px;
  color: #fff;
}

.order-form .choose-btn.yes {
  background-color: #66BB6A;
}
.order-form .choose-btn.no {
  background-color: #F4511E;
}

.order-form .choose-btn:hover,
.order-form .choose-btn:focus,
.order-form .choose-btn.selected {
  background-color: #111;
}

.order-form .submit-btn {
  border: none;
  background-color: #607D8B;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
  color: #fff;
}


/*******************************
    MEDIA QUERIES
*******************************/

/*
small devices: 320px
*/
@media (min-width: 320px) {
  .wrap {
    box-shadow: none;
    border: none;
  }

  .wrap .thumb-tack {
    height: 35px;
    left: 42%;
  }

  .driver-license {
    width: 100%;
    height: 155px;
  }

  .driver-license .title {
    height: 25px;
  }

  .driver-license .image {
    width: 75px;
    height: 75px;
  }

  .driver-license .info{}

  .driver-license .name,
  .driver-license .type {
    height: 20px;
    width: 170px;
    font-size: .9em;
  }

  .driver-license .view-btn {
    font-size: .8em;
  }

  .driver-info td {
    font-size: .8em;
  }
}

@media (min-width: 375px) {
  .wrap {
    border: 2.5px solid #ccc;
  }
  
  .wrap .thumb-tack {
    height: 35px;
  }

  .driver-license .title {
    height: 30px;
  }

  .driver-license .title h4 {
    padding-top: 4px
  }

  .driver-license .image {
    width: 120px;
    height: 120px;
  }

  .driver-license .info{}

  .driver-license .name,
  .driver-license .type {
    font-size: 1em;
  }
}



/*
small devices: 480px
*/
@media (min-width: 480px) {
  .wrap {
    justify-content: center;
  }

  .wrap .thumb-tack {
    height: 35px;
    left: 42%;
  }

  .driver-license {
    width: 100%;
    height: 210px;
    max-width: 450px
  }

  .driver-license .title {
    height: 40px;
  }

  .driver-license .title h4 {
    font-size: 1.1em;
    padding-top: 8px
  }

  .driver-license .image {
    width: 150px;
    height: 150px;
  }

  .driver-license .info {
    width: 55%;
  }

  .driver-license .name,
  .driver-license .type {
    height: 25px;
  }

  .driver-info td {
    font-size: 1em;
  }
}

/*
tablets 768px
*/
@media (min-width:768px) {
  .wrap {
    justify-content: space-between;
  }
  .driver-license {
    width: 45%;
    height: 175px;
  }

  .driver-license .title {
    height: 35px;
  }

  .driver-license .title  h4 {
  }

  .driver-license .image {    
    width: 100px;
    height: 100px;
  }

  .driver-license .info{}

  .driver-license .name,
  .driver-license .type {
    height: 20px;
    width: 200px;  
  }

}

/*
    large screens 1024px
*/
@media (min-width: 1024px){
  .wrap {
    justify-content: space-between;
  }

  .wrap .thumb-tack {
    height: 45px;
  }
  
  .driver-license {
    width: 30%;
    min-width: 345px;
    height: 175px;
  }

  .driver-license .title {
    
  }

  .driver-license .image {
    width: 100px;
    height: 100px;
  }

  .driver-license .info{

  }
  .driver-license .name,
  .driver-license .type {
    height: 20px;
    width: 220px;  
  }

}

@media (min-width: 1280px) {}

@media (min-width: 1600px){
  .wrap .thumb-tack {
    height: 66px;
  }

  .driver-license {
      width: 23%;
      min-width: 23%;
      height: 265px;
  }
}

/**/
@media (max-width: 1023px) and (min-width: 768px){}
/*  */
/**/
@media (max-width: 1024px) and (max-width: 768px) {}

/**/
@media (max-width: 1024px){}

@media (max-width: 767px){
  
}

@media (max-width: 343px){


}