{% extends 'pages/base.html' %}
{% load staticfiles  %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/drivers-styles.css' %}">
{% endblock %}
{% block content %}
<section class="container drivers-container" id="driver-index-container">
  <nav class="filters"></nav>
  <section class="wrap drivers-wrap" style="background:url({% static 'img/bgnoise_lg_@2X.png' %})">
    {% for driver in drivers %}
      <div class="license driver-license flex row-wrap just-between pos-rel driver-{{driver.id}}" style="background:url({% static 'img/topography.png' %})">
        <!-- <img src="{% static 'img/tack-red.png' %}" class="thumb-tack" /> -->
        <div class="title"><h4 class="text-center">FREEHAND DEPT. OF MOTOR VEHICLES</h4></div>
        <div class="image" style="background-image: url({{driver.image.url}}})"></div>
        <div class="info">
          <p class="name">{{driver.last_name}}, {{driver.first_name}}</p>
          <p class="type"><span class="key">CLASS</span> {{driver.category}}</p>
          <p class="type"><span class="key">Av.</span> {% if driver.isAvailable %}Yes{%else%}No{% endif %}</p>
          <p class="type">
          {% if driver.isAvailable %}{%else%}
          <span class="key">FF</span> {{driver.nextAvailability}}{% endif %}
          </p>
          <a href="#driver-{{driver.id}}" class="view-btn text-center block" data-id={{driver.id}} data-name="{{driver.last_name}}, {{driver.first_name}}" data-cat="{{driver.category}}">VIEW</a>
        </div>
      </div>
      <section class="sheet driver-sheet mfp-hide" id="driver-{{driver.id}}">
        <div class="driver flex row-wrap just-start">
          <div class="top-info flex row-nowrap">
            <div class="driver-photo">
              <img class="driver-photo_id" src="https://jamesgilberdphotography.weebly.com/uploads/1/3/6/5/13650410/emma-not-smiling-35x45_1_orig.jpg">
            </div>
            <div class="driver-info">
              <table>
                <tr>
                  <th class="key">Name</th>
                  <td>{{driver.last_name}}, {{driver.first_name}}</td>
                </tr>
                <tr>
                  <th class="key">Class</th>
                  <td>{{driver.category}}</td>
                </tr>
                <tr>
                  <th class="key">Av.</th>
                  <td>{% if driver.isAvailable %}Yes{%else%}No{% endif %}</td>
                </tr>
                <tr>
                  {% if driver.isAvailable %}{%else%}
                  <th class="key">FF</th>
                  <td>{{driver.nextAvailability}}</td>
                  {% endif %}
                </tr>
              </table>
            </div>
          </div>
          <div class="order-form driver-order-form">
            <!-- use action for ajax call -->
            <form action="" method="post" class="form flex col-wrap">
              <div class="text-center">
                <h3>To make a request just fill the form below</h3>
              </div>
              {% csrf_token %}
              <input type="hidden" name="driver_id" value="{{driver.id}}">
              <input type="hidden" name="user_id" value="{{user.id}}">
              <input type='tel' pattern="^\(?\d{3}\)?\d{3}\d{4}?$" />
              <div class="flex row-wrap just-between">
                <div class="flex row-wrap just-start align-flex-center half-width" style="margin-top:-15px;">
                  <label for="within">Leaving Lagos?</label>
                  <input type="checkbox" id="within" name="within_lagos" hidden>
                  <a href="#" class="choose-btn yes">YES</a><a href="#" class="choose-btn no">NO</a>
                </div>
              </div>
              <div class="flex row-wrap just-between">
                <div class="half-width">
                  <label for="start-date">Start Date</label>
                  {% if driver.isAvailable %}
                  <input type="date" class="order-date" id="start-date" name="start_date" min="{% now 'Y-m-d' %}">
                  {%else%}
                  <input type="date" class="order-date" id="start-date" name="start_date" min="{{driver.nextAvailability|date:'Y-m-d'}}">
                  {% endif %}
                </div>
                <div class="half-width">
                  <label for="end-date">End Date</label>
                  {% if driver.isAvailable %}
                  <input type="date" class="order-date" id="end-date" name="end_date" min="{% now 'Y-m-d' %}">
                  {%else%}
                  <input type="date" class="order-date" id="start-date" name="start_date" min="{{driver.nextAvailability|date:'Y-m-d'}}">
                  {% endif %}
                </div>
              </div>
              
              <div class="flex col-nowrap">
                <label for="pickup-addr" class="none">Pickup Address</label>
                <input type="text" id="pickup-addr" name="pickup_addr" placeholder="Pickup Address">
              </div>
              {% if user.is_authenticated %}
              <input type="submit" class="btn submit-btn" />
              {% else %}
              <a href="#login" class="btn login-btn">Login</a>
              {% endif %}
            </form>
          </div>
        </div>
      </section>
    {% endfor %}

  </section>
</section>
{% endblock %}