{% extends 'pages/base.html' %}
{% load staticfiles  %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/drivers-styles.css' %}">
{% endblock %}
{% block content %}
<section class="container drivers-container" id="driver-index-container">
  <nav class="filters"></nav>
  <section class="wrap drivers-wrap" style="background:url({% static 'img/bgnoise_lg_@2X.png' %})">
    {% for driver in drivers %}
      <div class="driver-license flex row-wrap just-between pos-rel" id="driver-{{driver.id}}" style="background:url({% static 'img/topography.png' %})">
        <!-- <img src="{% static 'img/tack-red.png' %}" class="thumb-tack" /> -->
        <div class="title"><h4 class="text-align-center">FREEHAND DEPT. OF VEHICLE DRIVERS</h4></div>
        <div class="image" style="background-image: url({{driver.image.path}}})"></div>
        <div class="info">
          <p class="name">{{driver.last_name}}, {{driver.first_name}}</p>
          <p class="type"><span class="key">CLASS</span> {{driver.category}}</p>
          <p class="type"><span class="key">Av.</span> {% if driver.isAvailable %}Yes{%else%}No{% endif %}</p>
          <p class="type"><span class="key">FF</span> {{driver.nextAvailability}}</p>
          <p class="type text-align-right"><a href="#" class="view-btn" data-id={{driver.id}} data-name="{{driver.last_name}}, {{driver.first_name}}" data-cat="{{driver.category}}">VIEW</a></p>
        </div>
        
      </div>
    {% endfor %}
    
  </section>
</section>
{% endblock %}