<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" >
  <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1.0" /><!-- maximum-scale=1.0, minimum-scale=1.0, user-scalable=no -->
  <title>Freehand {% block title %}{% endblock %}</title>
  {% load staticfiles  %}
  <link rel="shortcut icon" href="{% static 'img/favicon_1.ico' %}" />
  <meta property="og:image" content="" />
  <meta name="twitter:image" content="" />
  <meta property="og:type" content="article" />
  <meta property="og:description" content="" />
  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta property="og:description" content="" />
  <link rel="stylesheet" href="{% static 'css/reset.css' %}">
  <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
  <link rel="stylesheet" href="{% static 'css/unslider.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% block stylesheet %}{% endblock %}
</head>
<body>
<nav class="nav poppins" style="position:absolute">
  <div class="nav-logo"><a href="/" id="nav-logo"></a></div>
  <div class="u-clear">
    <div class="nav-sections-dropdown">
      <div class="nav-sections-dropdown-toggle">
        <a href="#driver-request" class="open-request nav-sections uppercase" id="hire-driver">Hire Driver</a>
        <a href="#car-request" class="open-request nav-sections uppercase" id="hire-car">Hire Car</a>
        <a href="{% url 'shuttle:index' %}" class="nav-sections uppercase" id="book-shuttle">Book Shuttle</a>
        <a href="{% url 'pages:contact' %}" class="nav-sections uppercase" id="">Contact</a>
        <!-- <a href="{% url 'pages:apply' %}" class="nav-sections uppercase" id="">Apply</a> -->
        <!-- <a href="{% url 'pages:faq' %}" class="nav-sections" id="">FAQ/Manual</a> -->
      </div>
    </div>
    <ul class="nav-icons">
      <li class="user-nav">
      {% if user.is_authenticated %}
        <a href="" class="user-nav-icon isloggedin">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="icon" viewBox="0 0 16 16">
            <path d="M9 11.041v-0.825c1.102-0.621 2-2.168 2-3.716 0-2.485 0-4.5-3-4.5s-3 2.015-3 4.5c0 1.548 0.898 3.095 2 3.716v0.825c-3.392 0.277-6 1.944-6 3.959h14c0-2.015-2.608-3.682-6-3.959z"></path>
          </svg>
        </a>
        <ul class="user-nav-menu isloggedin">
          <li><a href="{% url 'users:dashboard' %}">DASHBOARD</a></li>
          <li><a href="{% url 'users:account'  %}">EDIT DETAILS</a></li>
          <li><a href="{% url 'users:logout' %}">LOGOUT</a></li>
        </ul>
      {% else %}
        <a href="" class="user-nav-icon notloggedin">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="icon" viewBox="0 0 16 16">
            <path d="M9 11.041v-0.825c1.102-0.621 2-2.168 2-3.716 0-2.485 0-4.5-3-4.5s-3 2.015-3 4.5c0 1.548 0.898 3.095 2 3.716v0.825c-3.392 0.277-6 1.944-6 3.959h14c0-2.015-2.608-3.682-6-3.959z"></path>
          </svg>
        </a>
        <ul class="user-nav-menu notloggedin">
          <li><a href="{% url 'users:login' %}">LOGIN</a></li>
          <li><a href="{% url 'users:register' %}">SIGN UP</a></li>
        </ul>
      {% endif %}
      </li>
      <li>
        <a href="#" class="nav-mob-toggle" id="nav-mob-toggle">
          <span></span>
          <span></span>
          <span></span>
        </a>
      </li>
    </ul>
  </div>
  <div class="nav-mob-requests flex row-nowrap just-between align-flex-center full-width">
    <a href="#driver-request" class="open-request nav-sections uppercase text-center" id=""><span>Hire Driver</span></a>
    <a href="#car-request" class="open-request nav-sections uppercase text-center" id=""><span>Hire Car</span></a>
    <a href="{% url 'shuttle:index' %}" class="nav-sections uppercase text-center" id=""><span>Book Shuttle</span></a>
  </div>
  <div class="nav-mob">
    <div class="nav-mob-content flex row-nowrap just-around">
      <div class="u-row nav-mob-urow">
        <!-- 
        <h5 class="uppercase"><a href="#driver-request" id="">Hire Drivers</a></h5>
        <h5 class="uppercase"><a href="#car-request" id="">Hire Car</a></h5>
        <h5 class="uppercase"><a href="{% url 'shuttle:index' %}" id="">Book Shuttle</a></h5>
        -->
        <h5 class="uppercase"><a href="{% url 'pages:contact' %}">Contact</a></h5>
        <!-- <h5 class="uppercase"><a href="{% url 'pages:apply' %}">Apply</a></h5> -->
        <!-- <h5><a href="{% url 'pages:faq' %}">FAQ/Manual</a></h5> -->
      </div>
      <ul class="nav-mob-follow">
        <li><a href=""><img src="{%static 'img/twitter_circle_color-256.png'%}" alt=""></a></li>
        
        <li><a href=""><img src="{%static 'img/fb-icon.svg'%}" alt=""></a></li>
        <li><a href=""><img src="{%static 'img/instagram-logo.png'%}" alt=""></a></li>
      </ul>
      <ul class="nav-mob-acct">
        {% if user.is_authenticated %}
        <li><a href="{% url 'users:dashboard' %}"><img src="{%static 'img/dashboard-41.png'%}" alt=""></a></li>
        <li><a href="{% url 'users:account' %}"><img src="{%static 'img/1019_-_Edit_Profile-512.png'%}" alt=""></a></li>
        <li><a href="{% url 'users:logout' %}"><img src="{%static 'img/Graphicloads-100-Flat-2-Inside-logout.ico'%}" alt="LOGOUT"></a></li>
        {% else %}
        <li><a href="{% url 'users:login' %}"><img src="{%static 'img/Login-512.png'%}" alt=""></a></a></li>
        <li><a href="{% url 'users:register' %}"><img src="{%static 'img/1019_-_Edit_Profile-512.png'%}" alt=""></a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

{% block content %}{% endblock %}
{% block footer %}{% endblock %}
<p id="order-alert" class="full-width">
  <a href="#" id="close-order-alert">x</a>>
</p>
<!-- PopUps -->
  <!-- DRIVER ORDER SHEET -->
  <section class="sheet driver-sheet mfp-hide" id="driver-request">
    <div class="driver flex row-wrap just-start">
      <div class="top-info flex row-nowrap">
        <div class="class-ranks">
          <h3>Order Classes</h3>
          <div>
            <p><span class="key">Class A</span><span class="desc"></span></p>
            <p><span class="key">Class B</span><span class="desc"></span></p>
            <p><span class="key">Class C</span><span class="desc"></span></p>
          </div>
        </div>
      </div>
      <!-- if user not logged in -->
      <div class="form order-form driver-order-form material-form">
        <!-- use action for ajax call -->
        <form action="/hire/drivers/request/driver/" method="post" class="form flex col-wrap">
          <div class="text-center">
            <h3>To make a request just fill the form below</h3>
          </div>
          {% csrf_token %}
          <input type="hidden" class="user_id" name="user_id" value="{{user.id}}">
          <div class="flex row-wrap just-between">
            <div class="flex row-wrap just-start align-flex-center half-width" style="margin-top:-15px;">
              <label for="within">Leaving Lagos?</label>
              <input type="checkbox" class="within" name="within_lagos" hidden>
              <a href="#" class="choose-btn yes">YES</a>
              <a href="#" class="choose-btn no selected">NO</a>
            </div>
          </div>
          <div class="flex row-wrap just-between">
            <div class="half-width">
              <label for="start-date">Start Date</label>
              <input type="date" class="order-date start-date" name="start_date" min="{% now 'Y-m-d' %}" required>
            </div>
            <div class="half-width">
              <label for="end-date">End Date</label>
              <!-- should be disabled till start date done -->
              <input type="date" class="order-date end-date" name="end_date" min="{% now 'Y-m-d' %}" required>
            </div>
          </div>
          <div class="flex row-wrap just-between">
            <div class="half-width">
              <label for="within">Order Class</label>
              <select name="category" class="order_class" id="" required>
                <option value="">Select a class</option>
                <option value="A">Class A</option>
                <option value="B">Class B</option>
                <option value="C">Class C</option>
              </select>
            </div>
            <!-- <div class="half-width">
              <label for="end-date">Pickup Time</label>
              should be disabled till start date done
              <input type="time" class="pickup-time" name="end_date" min="" required>
            </div> -->
          </div>

          <div class="flex col-nowrap">
            <label for="pickup-addr" class="">Pickup Address</label>
            <input type="text" class="pickup-addr" name="pickup_addr" placeholder="Enter a pickup address" value="{{user.default_pickup_addr}}" required>
          </div>
          {% if user.is_authenticated %}
          <input type="submit" class="btn submit-btn" id="drivers-submit-btn" value="REQUEST" />
          <input type="reset" value="clear" hidden />
          {% else %}

          <a href="{% url 'users:login' %}" class="btn login-btn">LOGIN</a>
          {% endif %}
        </form>
      </div>
    </div>
  </section>

  <!-- CAR ORDER SHEET -->
  <section class="sheet car-sheet mfp-hide" id="car-request">
    <div class="content car flex row-wrap just-start" >
      <div class="top-info flex row-nowrap">
        <div class="class-ranks">
          <h3>Order Classes</h3>
          <div>
            <p><span class="key">Class A</span><span class="desc"></span></p>
            <p><span class="key">Class B</span><span class="desc"></span></p>
            <p><span class="key"></span><span class="desc"></span></p>
          </div>
        </div>
      </div>
      <!-- Car Order Form -->
      <div class="order-form car-order-form material-form">
        <form action="/hire/cars/request/car/" class="form flex col-wrap" method="post">
          <div class="text-center">
            <h3>To make a request just fill the form below</h3>
          </div>
          {% csrf_token %}
          <input type="hidden" class="item_id" name="item_id" value="{{car.id}}">
          <input type="hidden" class="user_id" name="user_id" value="{{user.id}}">
          <div class="flex row-wrap just-between">
            <div class="flex row-wrap just-start align-flex-center half-width">
              <label for="within">Leaving Lagos?</label>
              <input type="checkbox" class="within" name="within_lagos" hidden>
              <a href="#" class="choose-btn yes">YES</a><a href="#" class="choose-btn no selected">NO</a>
            </div>
          </div>
          <div class="flex row-wrap just-between">
            <div class="half-width">
              <label for="start-date">Start Date</label>
              {% if car.isAvailable %}
              <input type="date" class="order-date start-date" name="start_date" min="{% now 'Y-m-d' %}" required>
              {%else%}
              <input type="date" class="order-date start-date" name="start_date" min="{{car.nextAvailability|date:'Y-m-d'}}" required>
              {% endif %}
            </div>
            <div class="half-width">
              <label for="end-date">End Date</label>
              {% if car.isAvailable %}
              <input type="date" class="order-date end-date" name="end_date" min="{% now 'Y-m-d' %}" required>
              {%else%}
              <input type="date" class="order-date end-date" name="start_date" min="{{car.nextAvailability|date:'Y-m-d'}}" required>
              {% endif %}
            </div>
          </div>
          <div class="flex row-wrap just-between">
            <div class="half-width">
              <label for="within">Order Class</label>
              <select name="category" class="order_class" id="" required>
                <option value="">Select a class</option>
                <option value="A">Class A</option>
                <option value="B">Class B</option>
                <option value="C">Class C</option>
              </select>
            </div>
            <!-- <div class="half-width">
              <label for="end-date">Pickup Time</label>
              should be disabled till start date done
              <input type="time" class="pickup-time" name="end_date" min="" required>
            </div> -->
          </div>

          <div class="flex col-nowrap">
            <label for="pickup-addr" class="">Pickup Address</label>
            <input type="text" class="pickup-addr" name="pickup_addr" placeholder="Enter pickup address" value="{{user.default_pickup_addr}}" required>
          </div>

          {% if user.is_authenticated %}
          <input type="submit" class="btn submit-btn" id="cars-submit-btn" value="REQUEST" />
          <input type="reset" value=clear hidden />
          {% else %}
          <a href="#login" class="btn login-btn">LOGIN</a>
          {% endif %}
        </form>
      </div>
    </div>
  </section>

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/modernizr-custom.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/unslider-min.js' %}"></script>
{% block scripts %}{% endblock %}
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>