{% extends 'pages/base.html' %}
{% load staticfiles  %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/pages-styles.css' %}">
{% endblock %}
{% block title %}NG{% endblock %}

{% block content %}
<section class="container flex align-flex-center" id="index-container">
	<div class="aside aside1">
		<div>
			<h2 class="title text-center">VISION</h2>
			<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis atque illum natus error rerum qui, dicta assumenda rem porro, autem optio asperiores quae odit laudantium, et dolores, sint saepe vero. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor distinctio mollitia, sit ducimus, maiores quis commodi nemo aliquid id consequatur magni odit quibusdam magnam nostrum nam. A explicabo perspiciatis adipisci.</p>
		</div>
	</div>
	<div class="aside aside2">
		<div>
			<h2 class="title text-center">MISSION STATEMENT</h2>
			<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, eum ipsum! Error voluptate nisi quasi eveniet veritatis, voluptatum ut dolor ea tempora sapiente, quidem nam nesciunt illum, nihil dolore non. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quibusdam, recusandae commodi debitis numquam alias, facilis esse eius itaque et eveniet cupiditate, nesciunt magnam ex a explicabo culpa enim, assumenda.</p>
		</div>
	</div>
</section>
<section>
<!--
services
. img, desc, links
 - drivers
 - car hire
 - shuttle
who we are
footer
 -->	
</section>
{% endblock %}