{% extends 'pages/base.html' %}
{% load staticfiles  %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/flickity.css' %}">
<link rel="stylesheet" href="{% static 'css/pages-styles.css' %}">
{% endblock %}
{% block title %}{% endblock %}

{% block content %}
<section class="container flex col-nowrap just-center align-flex-center" id="index-container">
	<h1 class="header-title">Welcome to <img src="" alt="DriveHub"></h1>
  <h3 class="header-subtitle">How may we lend a hand?</h3>
  
  <!-- Driver -->
  <div class="index-service flex row-wrap just-center align-flex-center index-driver lazy" data-src="{%static 'img/freehanddrivers2.png'%}" style="background-position:bottom;">
    <div class="full-width header flex col-nowrap just-center align-flex-center ">
      <h2 class="inline-block text-center raleway">Need a driver?</h2>
      <a id="#driver-order" class="inline-block open-request">Hire</a>
    </div>
    <section class="flyers full-width">
      <ul class="flex row-nowrap just-center align-flex-center">
        <li>
          <div class="flyer flex col-nowrap just-center align-flex-center">
            <div class="img-wrap circle">
              <div class="img odd lazy lagos-welcome" data-src="{%static 'img/Welcome-to-Lagos.jpg'%}"></div>
            </div>
            <div class="img-title text-center full-width">Interstate</div>
          </div>
        </li>
        <li>
          <div class="flyer flex col-nowrap just-center align-flex-center">
            <div class="img-wrap circle">
              <div class="img even lazy" data-src="{%static 'img/Map-750.png'%}"></div>
            </div>
            <div class="img-title text-center full-width">Cross Country</div>
          </div>
        </li>
        <li>
          <div class="flyer flex col-nowrap just-center align-flex-center">
            <div class="img-wrap circle">
              <div class="img odd lazy" data-src="{%static 'img/stickers.jpg'%}"></div>
            </div>
            <div class="img-title text-center full-width">Family Trips</div>
          </div>
        </li>
      </ul>
    </section>
    <p class="subtitle text-center full-width"><a href="#driver-order" class="inline-block open-request">REQUEST A DRIVER</a></p>
  </div>
  <div class="index-service index-mid-p">
    <p class="mid-p text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, doloremque necessitatibus dolores repellat sit officia a dignissimos sed minus, numquam tempora dolorum accusantium ratione laudantium iusto possimus, cum ut distinctio.</p>
  </div>

  <!-- Car -->
  <div class="index-service flex row-wrap just-center align-flex-center index-car lazy" data-src="{%static 'img/lagos2.png'%}">
    <div class="full-width header flex col-nowrap just-center align-flex-center">
      <h2 class="text-center inline-block raleway">Need a car?</h2>
    </div>
    <section class="flyers full-width">
      <ul class="flex row-nowrap just-center align-flex-center">
        <li>
          <div class="flyer flex col-nowrap just-center align-flex-center">
            <div class="img-wrap circle">
              <div class="img odd lazy lagos-welcome" data-src="{%static 'img/Welcome-to-Lagos.jpg'%}"></div>
            </div>
            <div class="img-title text-center full-width">Interstate</div>
          </div>
        </li>
        <li>
          <div class="flyer flex col-nowrap just-center align-flex-center">
            <div class="img-wrap circle">
              <div class="img even lazy" data-src="{%static 'img/trip-office-staff.jpg'%}"></div>
            </div>
            <div class="img-title text-center full-width">Office Trip</div>
          </div>
        </li>
        <li>
          <div class="flyer flex col-nowrap just-center align-flex-center">
            <div class="img-wrap circle">
              <div class="img odd lazy" data-src="{%static 'img/toyota-coaster.png'%}"></div>
            </div>
            <div class="img-title text-center full-width">Staff Bus</div>
          </div>
        </li>
        <li>
          <div class="flyer flex col-nowrap just-center align-flex-center">
            <div class="img-wrap circle">
              <div class="img even lazy" data-src="{%static 'img/nycairportlimos.jpg'%}"></div>
            </div>
            <div class="img-title text-center full-width">Airport pickup</div>
          </div>
        </li>
      </ul>
    </section>
    <p class="subtitle text-center full-width"><a href="#car-order" class="inline-block open-request">REQUEST A CAR</a></p>
  </div>
  <div class="index-service index-mid-p" >
    <p class="mid-p text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, doloremque necessitatibus dolores repellat sit officia a dignissimos sed minus, numquam tempora dolorum accusantium ratione laudantium iusto possimus, cum ut distinctio.
    </p>
  </div>

  <!-- Shuttle -->
  <div class="index-service flex row-wrap just-center align-flex-center index-shuttle lazy" data-src="{%static 'img/PIX-93693.png'%}">
    <div class="full-width header flex col-nowrap just-center align-flex-center">
      <h2 class="text-center inline-block raleway">Need a ride to work?</h2>
    </div>
    <section class="flyers full-width">
      <ul class="flex row-nowrap just-center align-flex-center">
        <li>
          <div class="flyer flex col-nowrap just-center align-flex-center">
            <div class="img-wrap circle">
              <div class="img odd lazy" data-src="{%static 'img/route-stops.PNG'%}" style="background-position:right:;"></div>
            </div>
            <div class="img-title text-center full-width">Pick a route</div>
          </div>
        </li>
        <li>
          <div class="flyer flex col-nowrap just-center align-flex-center">
            <div class="img-wrap circle">
              <div class="img odd lazy" data-src="{%static 'img/toyota-coaster.png'%}"></div>
            </div>
            <div class="img-title text-center full-width">Get on a shuttle</div>
          </div>
        </li>
        <li>
          <div class="flyer flex col-nowrap just-center align-flex-center">
            <div class="img-wrap circle">
              <div class="img odd lazy" data-src="{%static 'img/traffictrails2.jpg'%}"></div>
            </div>
            <div class="img-title text-center full-width">Move</div>
          </div>
        </li>
      </ul>
    </section>
    <p class="subtitle text-center full-width"><a href="{% url 'shuttle:index' %}" class="inline-block">BOOK</a></p>
  </div>
  <div class="index-service index-mid-p" >
    <p class="mid-p text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, doloremque necessitatibus dolores repellat sit officia a dignissimos sed minus, numquam tempora dolorum accusantium ratione laudantium iusto possimus, cum ut distinctio.
    </p>
  </div>

  <!-- Who we are -->
  <div class="index-service flex row-wrap just-center align-flex-center index-info" style="border-bottom:0">
    <div class="header full-width flex col-nowrap just-center align-flex-center no-background margin0 padding0">
      <h2 class="text-center inline-block raleway text-white">Who We Are</h2>
    </div>
    <div class="info-text">
      <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, doloremque necessitatibus dolores repellat sit officia a dignissimos sed minus, numquam tempora dolorum accusantium ratione laudantium iusto possimus, cum ut distinctio.</p>
    </div>
  </div>
</section>
{% endblock %}
{% block customscripts %}
<script>
(function($){

  $(window).resize(function (e) {

    if($(window).width() > 960){

    } else {
      $('html.no-touchevents .flyers ul').removeClass('flex');

      var _carousel = $('html.touchevents .flyers ul').flickity({
        autoPlay: true,
        pauseAutoPlayOnHover: true,
        cellSelector: 'li',
        resize: true,
        cellAlign: 'center',
        contain: true,
        imagesLoaded: true,
        //freeScroll: true,
        //prevNextButtons: false,
        pageDots: false
      });
    }

  });
})(jQuery);
</script>
{% endblock %}