{% extends 'pages/base.html' %}
{% load staticfiles  %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/users-styles.css' %}">
{% endblock %}
{% block title %}Login{% endblock %}
{% block htmlclass %}login-page{% endblock %}
{% block bodyclass %}login-page{% endblock %}
{% block content %}
{% if request.user.is_authenticated %}
<script>
location.assign('http://localhost:8000');
</script>
{% else %}
<section class="container" id="login-container">
  <section class="login-form sheet login-container">
    <form method="post" class="form material-form flex col-nowrap">
      <h2 class="title">LOGIN</h2>
      {% if form.errors %}
      <p class="form-error-p text-center">Invalid username or password</p>
      {% endif %}
      {% csrf_token %}
      {% for field in form %}
        <div class="form-field">
          {{ field.label_tag }}
          {{ field }}
          {% if field.help_text %}
            <small>{{field.help_text}}</small>
          {% endif %}
        </div>
      {% endfor %}
      <button type="submit" class="btn submit-btn" id="login-btn">LOGIN</button>
      <p class="text-center pos-rel form-or"><span class="pos-abs">OR</span></p>
      <p class="text-center if-already"><a href="{% url 'users:register' %}">SIGN UP</a> to get a free account</p>
    </form>
  </section>  
</section>
{% endif %}
{% endblock %}