{% extends 'pages/base.html' %}
{% load staticfiles  %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/users-styles.css' %}">
{% endblock %}
{% block title %}Register{% endblock %}

{% block content %}
<section class="container register-container sheet">
  <section class="material-form register-form">
    <h2>Register</h2>
    <form action="" method="post" class="form">
      {% csrf_token %}
      {% for field in form %}
      <div class="form-field">
        {{ field.label_tag }}
        {{ field }}
        {% if field.help_text %}
          <small>{{field.help_text}}</small>
        {% endif %}
        {% for error in field.errors %}
          <em style="color:red">{{error}}</em>
        {% endfor %}
      </div>
      {% endfor %}
      <button type="submit" class="btn submit-btn" id="register-btn">REGISTER</button>
    </form>
  </section>
  <p><a href="{% url 'users:login' %}">Login</a> if you already have an account.</p>
</section>
{% endblock %}