{% extends 'pages/base.html' %}
{% load staticfiles  %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/users-styles.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
{% endblock %}

{% block content %}
<section class="container dashboard-container">
  {% if user.is_authenticated %}
  <div class="full-width header" style="background-image:url({%static 'img/congruent_outline.png'%})">
    <h1 class="user-welcome text-center">
      Welcome {{user.get_full_name|title}}
    </h1>
    <p class="text-center">Here you can view all your orders</p>
  </div>
    
    {% if has_order %}
    <section class="user-dashboard has-orders">
      <!-- DRIVER-ORDERS -->
      {% if mrd %}
      <h3 class="dashboard-title drivers-dash">Driver Requests</h3>
      <div class="dashboard-content">
          <!-- more button take to new page showing all orders -->
          <div class="most-recent">
            <h3>Most Recent Order</h3>
            <ul>
              <li class="most-recent-item most-recent-date" data-order-id="{{mrd_order.id}}">
                <span class="most-recent-title">Date: </span>
                <time class="most-recent-content date">{{mrd_order.order_date|date:'M. j, Y'}}</time>
              </li>
              <li class="most-recent-item">
                <span class="most-recent-title">Pickup: </span>
                <span class="most-recent-content">{{mrd_order.pickup_address}}</span>
              </li>
              <li class="most-recent-item">
                <span class="most-recent-title">Start Date: </span>
                <span class="most-recent-content">{{mrd_order.start_date}}</span>
              </li>
              <li class="most-recent-item">
                <span class="most-recent-title">End Date: </span>
                <span class="most-recent-content">{{mrd_order.end_date}}</span>
              </li>
              <li class="most-recent-item">
                <span class="most-recent-title">Status: </span>
                <span class="most-recent-content">{{mrd_order.status}}</span>
              </li>
            </ul>
          </div>
          {% if d_orders %}
          <div class="other-orders">
            <table class="" style="width:100%">
              <thead>
                <tr class="head">
                  <th class="date">Date</th>
                  <th class="loc">Pickup</th>
                  <th class="start">Start Date</th>
                  <th class="end">End Date</th>
                  <th class="status">Status</th>
                </tr>
              </thead>
              <tbody>
                {% for d_order in d_orders%}
                <tr class="body">
                  <td class="item-date" data-order-id="{{d_order.id}}">{{d_order.order_date|date:'d/m/Y'}}</td>
                  <td class="loc">{{d_order.pickup_address}}</td>
                  <td class="start_date">{{d_order.start_date|date:'d/m/Y'}}</td>
                  <td class="send_date">{{d_order.end_date|date:'d/m/Y'}}</td>
                  <td class="status {{d_order.status}}">{{d_order.status}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>

          </div>
          <div class="other-orders-mob">
              {% for d_order in d_orders%}
              <div class="order">
                <div class="flex row-nowrap just-between">
                  <dl class="half-width">
                    <dt class="date">Date</dt>
                    <dd class="item-date" data-order-id="{{d_order.id}}">{{d_order.order_date|date:'d/m/Y'}}</dd>
                  </dl>
                  <dl class="half-width">
                    <dt class="">Status</dt>
                    <dd class="status {{d_order.status}}">{{d_order.status|title}}</dd>
                  </dl>
                </div>
                <p class="loc"><span class="item-title">Pickup Address: </span><span class="loc_"><em>{{d_order.pickup_address|title}}</em></span></p>
                <div class="flex row-nowrap just-between">
                  <dl class="half-width">
                    <dt class="start">Start Date</dt>
                    <dd class="start_date">{{d_order.start_date|date:'d/m/Y'}}</dd>
                  </dl>
                  <dl class="half-width">
                    <dt class="end">End Date</dt>
                    <dd class="send_date">{{d_order.end_date|date:'d/m/Y'}}</dd>
                  </dl>
                </div>
              </div>
              {% endfor %}

          </div>
          {% endif %}
      </div>
      {% endif %}

      <!-- CAR ORDERS -->
      {% if mrc %}
      <h3 class="dashboard-title cars-dash">Car Requests</h3>
      <div class="dashboard-content">
        <div class="most-recent">
          <h3>Most Recent Order</h3>
          <ul>
            <li class="most-recent-item most-recent-date" data-order-id="{{mrc_order.id}}">
              <span class="most-recent-title">Date: </span>
              <time class="most-recent-content date">{{mrc_order.order_date|date:'M. j, Y'}}</time>
            </li>
            <li class="most-recent-item">
              <span class="most-recent-title">Pickup: </span>
              <span class="most-recent-content">{{mrc_order.pickup_address}}</span>
            </li>
            <li class="most-recent-item">
              <span class="most-recent-title">Start Date: </span>
              <span class="most-recent-content">{{mrc_order.start_date}}</span>
            </li>
            <li class="most-recent-item">
              <span class="most-recent-title">End Date: </span>
              <span class="most-recent-content">{{mrc_order.end_date}}</span>
            </li>
            <li class="most-recent-item">
              <span class="most-recent-title">Status: </span>
              <span class="most-recent-content">{{mrc_order.status}}</span>
            </li>
          </ul>
        </div>
        {% if c_orders %}
        <div class="other-orders">
          <table class="full-width">
            <thead>
              <tr class="head">
                <th class="date">Date</th>
                <th class="loc">Pickup</th>
                <th class="start">Start Date</th>
                <th class="end">End Date</th>
                <th class="status">Status</th>
              </tr>
            </thead>
            <tbody>
              {% for c_order in c_orders %}
              <tr class="body">
                <td class="item-date" data-order-id="{{c_order.id}}">{{c_order.order_date|date:'d/m/Y'}}</td>
                <td class="loc">{{c_order.pickup_address}}</td>
                <td class="start_date">{{c_order.start_date|date:'d/m/Y'}}</td>
                <td class="send_date">{{c_order.end_date|date:'d/m/Y'}}</td>
                <td class="status {{c_order.status}}">{{c_order.status}}</td>
              </tr>

              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="other-orders-mob">
          {% for c_order in c_orders%}
          <div class="order">
            <div class="flex row-nowrap just-between">
              <dl class="half-width">
                <dt class="date">Date</dt>
                <dd class="item-date" data-order-id="{{c_order.id}}">{{c_order.order_date|date:'d/m/Y'}}</dd>
              </dl>
              <dl class="half-width">
                <dt class="">Status</dt>
                <dd class="status {{c_order.status}}">{{c_order.status|title}}</dd>
              </dl>
            </div>
            <p class="loc"><span class="item-title">Pickup Address: </span></dt> <span class="loc_"><em>{{c_order.pickup_address|title}}</em></span></p>
            <div class="flex row-nowrap just-between">
              <dl class="half-width">
                <dt class="start">Start Date</dt>
                <dd class="start_date">{{c_order.start_date|date:'d/m/Y'}}</dd>
              </dl>
              <dl class="half-width">
                <dt class="end">End Date</dt>
                <dd class="send_date">{{c_order.end_date|date:'d/m/Y'}}</dd>
              </dl>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %}
      </div> 
      {% endif %}     

      <!-- SHUTTLE ORDERS -->
      {% if mrs %}
      <h3 class="dashboard-title shuttle-dash">Shuttle Bookings</h3>
      <div class="dashboard-content">
        <div class="most-recent">
          <h3>Most Recent Order</h3>
          <ul>
            <li class="most-recent-item most-recent-date" data-order-id="{{mrs_order.id}}">
              <span class="most-recent-title">Date: </span>
              <time class="most-recent-content date">{{mrs_order.order_date|date:'M. j, Y'}}</time>
            </li>
            <li class="most-recent-item most-recent-item-id">
              <span class="most-recent-title">Route: </span>
              <span class="most-recent-content">{{mrs_order.route.route_name|title}}</span>
            </li>
            <li class="most-recent-item">
              <span class="most-recent-title">Subscription: </span>
              <span class="most-recent-content">{{mrs_order.subscription|title}}</span>
            </li>
            <li class="most-recent-item">
              <span class="most-recent-title">Morning Pickup: </span>
              <span class="most-recent-content">{{mrs_order.morning_pickup_stop.stop_location|title}} @ <time>{{mrs_order.morning_pickup_time}}</time></span>
            </li>
            <li class="most-recent-item">
              <span class="most-recent-title">Evening Pickup: </span>
              <span class="most-recent-content">{{mrs_order.evening_pickup_stop.stop_location|title}} @ <time>{{mrs_order.evening_pickup_time}}</time></span>
            </li>
            <li class="most-recent-item">
              <span class="most-recent-title">Status: </span>
              <span class="most-recent-content">{{mrs_order.status}}</span>
            </li>
          </ul>
        </div>
        {% if s_orders %}
        <div class="other-orders full-width">
          <table class="full-width">
            <thead>
              <tr class="head">
                <th class="date">Date</th>
                <th class="shuttle-id">Route</th>
                <th class="">Sub.</th>
                <th class="">Morning</th>
                <th class="">Evening</th>
                <th class="">Status</th>
              </tr>
            </thead>
            <tbody>
              {% for s_order in s_orders %}
              <tr class="body">
                <td class="item-date" data-order-id="{{s_order.id}}">{{s_order.order_date|date:'d/m/Y'}}</td>
                <td class="item-id">{{s_order.route.route_name|title}}</td>
                <td class="">{{s_order.subscription|title}}</td>
                <td class="">{{s_order.morning_pickup_stop.stop_location|title}} @ <time>{{s_order.morning_pickup_time}}</time></td>
                <td class="">{{s_order.evening_pickup_stop.stop_location|title}} @ <time>{{s_order.evening_pickup_time}}</time></td>
                <td class="status {{s_order.status}}">{{s_order.status}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="other-orders-mob">
          {% for s_order in s_orders%}
          <div class="order">
            <div class="flex row-nowrap just-between">
              <dl class="half-width">
                <dt class="date">Date</dt>
                <dd class="item-date" data-order-id="{{s_order.id}}">{{s_order.order_date|date:'d/m/Y'}}</dd>
              </dl>
              <dl class="half-width">
                <dt class="">Subscription</dt>
                <dd class="">{{s_order.subscription|title}}</dd>
              </dl>
            </div>
            <p class="loc"><span class="item-title">Route: </span></dt>
              <span class="loc_"><em>{{s_order.route.route_name|title}}</em></span>
            </p>
            <div class="flex row-nowrap just-between">
              <dl class="half-width">
                <dt class="">Morning:</dt>
                <dd> <span>{{s_order.morning_pickup_stop.stop_location|title}} @ <time>{{s_order.morning_pickup_time}}</time></span></dd>
              </dl>
              <dl class="half-width">
                <dt class="">Evening:</dt>
                <dd><span>{{s_order.evening_pickup_stop.stop_location|title}} @ <time>{{s_order.evening_pickup_time}}</time></span></dd>
              </dl>
            </div>
            <p class="status">Status: <span class="status {{s_order.status}}">{{s_order.status}}</span></p>
          </div>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      {% endif %}
    {% else %}
    <section class="user-dashboard no-orders">
      <div>
        <p>Unfortunately, you have no orders yet</p>
        <p style="font-family:'Satisfy';">Let's get you started:</p>
      </div>
      <ul>
        <li><a href="#driver-request" class="open-request ">Hire a driver</a></li>
        <li><a href="#car-request" class="open-request ">Hire a car</a></li>
        <li><a href="{% url 'shuttle:index' %}">Book a shuttle</a></li>
      </ul>
    </section>
    {% endif %}
    </section>
    
  {% else %}
  <div style="margin:2em auto;box-shadow:1px 1px 4px #ccc">
    <h1><a href="{% url 'users:login' %}" class="login-btn if-already">Login</a> to access don't have an account <a href="{% url 'users:register' %}" class="register-btn">register</a></h1>
  </div>
  {% endif %}
</section>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script>
  $(function() {
    $( ".user-dashboard.has-orders" ).accordion({
      //active: 0,
      collapsible: true,
      heightStyle: "content",
    });
  });
</script>
{% endblock %}