{% extends 'pages/base.html' %}
{% load staticfiles  %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/shuttle-styles.css' %}">
{% endblock %}
{% block content %}
<section class="container shuttle-container" id="shuttle-index-container">
  <p class="order-alert full-width" style=""></p>
  <main class="wrap shuttle-wrap col-nowrap just-center">
    <section class="article how full-width">
      <div class="image full-width" style="background-image:url({% static 'img/Nigeria-lagos_trim2.png'%})"></div>
      <div class="shuttle-how-wrap full-width flex col-nowrap just-center align-flex-center ">
        <h2 class="title">HOW IT WORKS</h2>
        <ul class="shuttle-how flex row-wrap just-around align-flex-center pos-rel">
          <div class="moving-obj pos-abs"></div>
          <li class="icon-wrap">
            <img src="{% static 'img/laptop.png' %}" alt="" class="how-icon block">
            <p class="subtitle text-center">Pick a route</p>
          </li>
          <li class="icon-wrap">
            <img src="{% static 'img/mobile.png' %}" alt="" class="how-icon block">
            <p class="subtitle text-center">Pick a stop</p>
          </li>
          <li class="icon-wrap">
            <img src="{% static 'img/tablet.png' %}" alt="" class="how-icon block">
            <p class="subtitle text-center">Pick a plan</p>
          </li>
          <li class="icon-wrap">
            <img src="{% static 'img/qr.png' %}" alt="" class="how-icon block">
            <p class="subtitle text-center">Get token</p>
          </li>
          <li class="icon-wrap">
            <img src="{% static 'img/shuttle.png' %}" alt="" class="how-icon block">
            <p class="subtitle text-center">Move</p>
          </li>
        </ul>
      </div>
    </section>
    <section class="article routes flex col-nowrap just-center align-flex-center">
      <h2 class="title">ROUTES</h2>
      <h4 class="subtitle">Select a route</h4>
      <ul class="route-list">
        {% for route in routes %}
        <li class="route-outline route-{{route.id}}">
          <div class="route-wrap">
            <div class="route flex col-nowrap just-center align-flex-center">
              <h4 class="route-title capitalize pos-rel">{{route.route_name}}</h4>
              <div class="route-line pos-rel">

                <!-- Start point -->
                <div class="route-start pos-rel">
                  <p class="stop-info pos-abs uppercase">
                    <span class="location">{{route.get_first_stop.stop_location}}</span>
                  </p>
                </div>
                
                <!-- Route stops -->
                <div class="route-stops flex row-wrap just-around pos-rel">
                  {% for stop in route.get_mid_stops %}
                  <div class="route-stop pos-rel">
                    <div class="stop-info pos-abs uppercase">
                      <span class="location">{{stop.stop_location}}</span>
                    </div>
                  </div>
                  {% endfor %}
                </div>

                <!-- Endpoint -->
                <div class="route-end pos-rel">
                  <p class="stop-info pos-abs uppercase">
                    <span class="location">{{route.get_last_stop.stop_location}}</span>
                  </p>
                </div>
              </div>

              <!-- Mobile Route List -->
              <div class="route-outline-mob">
                <!-- Start point -->
                <ul class="route-line-mob route-{{route.id}} uppercase">
                  <li class="route-start">
                    <span class="location">{{route.get_first_stop.stop_location}}</span>
                  </li>
                
                  <!-- Route stops -->
                  <ul class="route-stops-mob">
                    {% for stop in route.get_mid_stops %}
                    <li class="route-stop-mob">
                      <span class="location">{{stop.stop_location}}</span>
                    </li>
                    {% endfor %}
                  </ul>

                  <!-- Endpoint -->
                  <li class="route-end">
                    <span class="location">{{route.get_last_stop.stop_location}}</span>
                  </li>
                </ul>
              </div>

              <a href="#route-{{route.id}}" class="btn apply-btn open-request" data-id="apply-btn-{{route.id}}" id="apply-btn-{{route.id}}" data-map-id="routemap-{{route.id}}" data-map-start="{{route.startpoint}}" data-map-end="{{route.endpoint}}">SELECT</a>
            </div>
          </div>

          <!-- Order Sheet -->
          <section class="container sheet route-sheet mfp-hide" id="route-{{route.id}}">
            <div class="flex col-nowrap just-center" id="route-{{route.id}}">
              <div class="top-info full-width" style="padding:0">
                <div class="sub-div">
                <h3 class="text-center">{{route.route_name|title}}</h3>
                <div class="map-canvas" id="routemap-{{route.id}}" ></div>
                <div class="prices" style="margin-top:15px">
                  <ul class="flex row-wrap just-between" style="font-family:Raleway;font-weight:bold;">
                    <li class="price price_daily" data-price="{{route.daily_price}}">Daily: <span style="font-weight:normal">N{{route.daily_price}}</span></li>
                    <li class="price price_weekly" data-price="{{route.weekly_price}}">Weekly: <span style="font-weight:normal">{{route.weekly_price}}</span></li>
                    <li class="price price_monthly" data-price="{{route.monthly_price}}">Monthly: <span style="font-weight:normal">{{route.monthly_price}}</span></li>
                    {% if route.is_available %}
                    <li style="width:100%;">No. of seats left: <span style="font-weight:normal">{{route.seats_available}}</span></li>
                    {% else %}
                    <li style="width:100%; font-style:italic;text-align:center"><span style="font-weight:normal">There are no seats left on this route</span></li>
                    {% endif %}
                  </ul>
                </div></div>
              </div>
              {% if route.is_available %}
              <div class="order-form shuttle-form material-form">
                <form action="/shuttle/subscribe/" class="form flex col-wrap" method="post">
                  <div class="text-center" style="margin:10px 0;">
                    {%if has_ongoing%}
                    <p class="ongoing">Note: You already have an ongoing shuttle booking, <a href="{%url 'users:dashboard'%}">View Dashboard</a></p>
                    {%endif%}
                    <h3>To subscribe to this route just fill the form below</h3>
                  </div>
                  {% csrf_token %}
                  <input type="hidden" class="item_id" name="item_id" value="{{route.id}}">
                  <input type="hidden" class="user_id" name="user_id" value="{{user.id}}" data-identifier="user{{user.id}}@freehand.ng">
                  <input type="hidden" class="selected_price" name="selected_price">
                  <div class="flex col-nowrap">
                    <label for="subscription-choice">Subscription Choice</label>
                    <select class="subscription-choice" id="subscription-choice"  name="subscription_choice" required>
                        <option value="">Choose subscription</option>
                        <option value="Daily">Daily</option>
                        <option value="Weekly">Weekly</option>
                        <option value="Monthly">Monthly</option>
                    </select>
                  </div>
                  <div class="flex row-wrap just-between date-hidden">
                    <div class="half-width">
                      <label for="start-date">Start Date</label>
                      <input type="date" class="start-date daily-pickup-date" name="start_date" min="{% now 'Y-m-d' %}" value="{% now 'Y-m-d' %}">
                    </div>
                  </div>
                  <div class="flex col-nowrap">
                    <label for="morning-pickup-stop">Morning Pickup Stop</label>
                    <select name="morning_pickup_stop" class="stop-list morning-pickup-stop" id="morning-pickup-stop" required>
                      <option value="">Pick a stop</option>
                      {% for stop in route.get_all_stops %}
                      <option value="{{stop.id}}" data-location="{{stop.stop_location}}">{{stop.stop_location|upper}}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="flex col-nowrap">
                    <label for="morning-pickup-time">Morning Pickup Time</label>
                    <select class="pickup-time morning-pickup-time" id="morning-pickup-time"  name="morning_pickup_time" required>
                      <option value="">Choose a time</option>
                      <option value="05:00:00">5:00AM</option>
                      <option value="05:30:00">5:30AM</option>
                      <option value="06:00:00">6:00AM</option>
                      <option value="06:30:00">6:30AM</option>
                      <option value="07:00:00">7:00AM</option>
                      <option value="07:30:00">7:30AM</option>
                      <option value="08:00:00">8:00AM</option>
                      <option value="08:30:00">8:30AM</option>
                    </select>    
                  </div>
                  <div class="flex col-nowrap">
                    <label for="evening-pickup-stop">Evening Pickup Stop</label>
                    <select name="evening_pickup_stop" class="stop-list evening-pickup-stop" id="evening-pickup-stop" required>
                      <option value="">Pick a stop</option>
                      {% for stop in route.get_all_stops %}
                      <option value="{{stop.id}}" data-location="{{stop.stop_location}}">{{stop.stop_location|upper}}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="flex col-nowrap">
                    <label for="evening-pickup-time">Evening Pickup Time</label>
                    <select class="pickup-time evening-pickup-time" id="evening-pickup-time" name="evening_pickup_time" required>
                      <option value="">Choose a time</option>
                      <option value="05:00:00">5:00PM</option>
                      <option value="05:30:00">5:30PM</option>
                      <option value="06:00:00">6:00PM</option>
                      <option value="06:30:00">6:30PM</option>
                      <option value="07:00:00">7:00PM</option>
                      <option value="07:30:00">7:30PM</option>
                      <option value="08:00:00">8:00PM</option>
                      <option value="08:30:00">8:30PM</option>
                    </select>
                  </div>
                  
                  {% if user.is_authenticated %}
                    {% if route.is_available %}
                    <script src="https://js.paystack.co/v1/inline.js"></script>
                    <input type="submit" class="btn submit-btn shuttle-submit-btn" value="SUBSCRIBE" />
                    <input type="reset" value="CLEAR" hidden />
                    {% endif %}
                    {% else %}
                    <a href="{% url 'users:login' %}" class="btn login-btn">LOGIN</a>
                  {% endif %}
                </form>
              </div>
              {%endif%}
            </div>
          </section>
        </li>
        {% endfor %}
      </ul>
    </section>
  </main>
</section>
{% block scripts %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQsOgmxK8BQ0P9dAnSLvZqC9h05HpKaJU"></script>
{% endblock %}
{% endblock %}